@model BookViewModel

@{
    string pageTitle = "New Book";
    string action = "Create";

    if (ViewBag.IsEditing == true) {
        // Editing
        pageTitle = "Update Book";
        action = "Update";
    }
}


<div>
    <h2>@pageTitle</h2>
    <hr/>
    <div>
        <form asp-action="@action">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input type="text" class="form-control" asp-for="Title"/>
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author">Author</label>
                <input type="text" class="form-control" asp-for="Author"/>
                <span class="text-danger" asp-validation-for="Author"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year">Year</label>
                <input type="text" class="form-control" asp-for="Year"/>
                <span class="text-danger" asp-validation-for="Year"></span>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
    <br/>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
