@model LoanViewModel

<div>
    <form asp-action="Create">
        @* <input type="hidden" asp-for="BookId"/> *@
        <div class="form-group">
            <label asp-for="BookId">Book Id</label>
            <input type="text" class="form-control" asp-for="BookId">
            <span class="text-danger" asp-validation-for="BookId"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatronId">Patron Id</label>
            <input type="text" class="form-control" asp-for="PatronId">
            <span class="text-danger" asp-validation-for="PatronId"></span>
        </div>

        <button type="submit" class="btn btn-success">Create Loan</button>
    </form>
</div>